@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Oswald:wght@200;700&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    margin: 0 5rem;
    width: 80vw;
    font-family: 'Montserrat', sans-serif;
}

#navbarMonstera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

#navMid{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    cursor: pointer;

}

#navEnd{
    display: flex;
    justify-content: space-between;
    width: 10%;
    cursor: pointer;
}

#one{
    border-bottom: 2px solid #1f1f1f;
    font-size: 120%;
}

#imgMain{
    position: absolute;
    top:130px;
    right:5px
}

#midWholePart1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top:200px;
}

#monstera{
 font-size: 80px;
 font-weight: 600;
}

#midWholePart12{
    background-color: #17783c;
    color: #ffffff;
    border: transparent;
    border-radius: 20px;
    width: fit-content;
    padding: 7px;
    position: relative;
    top:85px;
     cursor: pointer;
}

#midWholePart121{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#midWholePart122{
    height:30px;
    margin-left: 10px;
}

#midWholePart11{
    width: 50%;
}

#midWholePart13{
    display:flex;
    flex-direction:row;
    width:70%;
    position: relative;
    top: 300px;
    font-size: 80%;
}

.midWholePart13Parts{
    display: flex;
    flex-direction: row;
}

#feeding{
    height: 50%;
}

#light{
    height: 50%;
}

#care{
    height: 50%;
}